
  body
  {background-color:#3F72AF;}

  hr {
border-style:dotted none  none none;
border-color: grey;
border-width:5px;
  width:5%; }
  h1{
    text-decoration: overline;
    color:#1E212D;}
  h3{color:#AFB9C8;text-decoration: overline;}
  h2{color:#AFB9C8; text-decoration: overline;}
  strong{color:#1E212D;}
